* {
    box-sizing: border-box;
}
.prod {
    display: flex;
    justify-content: center;
    margin: 50px;
}
.card {
    width: 250px;
    background-color: #eee;
    padding: 20px;
    margin-left: 50px;
}
.card h2 {
    background-color: cornflowerblue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.card p {
    line-height: 1.5;
    font-size: 17px;
}